.social-media-section {
  display: inline;
  text-align: center;
  margin: 20px 0;
  width: 80%;
  max-width: 800px;
}

.social-media-box {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 120px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.social-media-container {
  background-color: green;
  margin: 40px;
}
.social-media-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.social-media-box i {
  font-size: 24px;
  color: #333;
}

